@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: "Melodrama";
    src: url(fonts/Melodrama-Variable.ttf);

    font-family: "Outfit";
    src: url(fonts/Melodrama-Variable.ttf); 
}

:root {
    --roxoescuro: #2F0147;
    --roxoclaro: #9583B1;
    --rosaescuro: #9C528B;
    --rosaclaro: #FFAFB4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 20px - Espaçamento externo de 20px */
    /* margin: 20px 10px - Espaçamento 20px na vertical, 10px na horizontal */
    /* margin: 20px 10px 5px - Espaçamento 20px para cima, 10px na horizontal, 5px para baixo */
    /* margin: 20px 10px 5px 2px - Espaçamento 20px para cima, 10px para a direita, 5px para baixo, 2px para a esquerda */

    margin: 0 auto;
}

.banner {
    height: 735px;

    background-image: linear-gradient(103deg, rgba(46, 1, 71, 0.600) 0%, rgba(49, 23, 94, 0.52) 100%), url(img/imgdacapa.jpg);
    background-size: cover;
    background-position: right center;
}
    

header {
    height: 165px;
    padding-top: 20px;
    }

    .menu {
        width: 100%;
        background-color: #9583b188;
        border-radius:55px;
        height: 80px;
        display: flex;
        align-items: center;
        z-index: 10;
    }
    
    .menu img {
        width: 200px;
        height: 100px;
    
        display: flex;
        align-items: center;
        text-align: center;

        z-index: 1;

        transition: 200ms;
    }

    .menu img:hover{
        transform: scale(1.08);
        transition: 200ms
    }
    
    .menu a {
        list-style-type: none;
        align-items: center;
        display: flex;
        justify-content: space-evenly;

        text-decoration: none;
    
        font-family: "Outfit";
        font-size: 24px;
        width: 100%;
        padding-left: 0px;
    }

    .sobretexto {
        color:rgb(53, 32, 90);
        text-decoration: none;
    }
    
    .sobretexto2 {
        color: white;
       
    }

    .sobretexto3 {
        color:rgb(255, 255, 255);
        
    }

    .sobretexto4 {
        color:rgb(255, 255, 255);
        
    }
    
    
    .menu a:hover {
        color: var(--roxoescuro);
        /* Cor do link ao passar o mouse */
        text-decoration: underline;
        /* Sublinhado ao passar o mouse */
    }
    
    a.sobretexto:hover{
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

.conteudo-banner {
    height: calc(85vh - 280px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo-banner p {
    color: white;

    font-family: "Melodrama";
    font-size: 36px;
    text-align: center;
}

.conteudo-banner span {
    color: var(--rosaclaro);
}

.link-cadastro {
    padding: 1%;
    border-radius: 37px;
    background-color: #9583b190;
    
    color: #ffffff;
    text-decoration: none;
    border: transparent;

    font-family: "Outfit";
    font-size: 18px;
    
    margin-top: 50px;
}

.link-cadastro:hover {
    transform: scale(1.05);
    transition: 200ms
}

#serviços{
    text-align: center;
}

.container-cartao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartao {
    width: 641px;
    height: 750px;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;

    padding-bottom: 50px;
}

.cartao-yoga{
    background-image: linear-gradient(0deg, rgba(199,96,102,0.75) 0%, rgba(0,0,0,0) 60%), url(img/carddoyoga.jpg);
    background-size: cover;
}

.cartao-mob{
    background-image: linear-gradient(0deg, rgba(43,1,67,0.75) 0%, rgba(0,0,0,0) 70%), url(img/muiemobilidade.jpg);
    background-size: cover;
}

.cartao-comida{
    background-image: linear-gradient(0deg, rgba(138,40,116,0.75) 0%, rgba(0,0,0,0) 60%), url(img/receita.jpg);
    background-size: cover;
}

.cartao h1 {
    font-family: "Outfit";
    font-size: 36px;
    color: #ffffff;
    font-weight: 270;

    text-align: center;

    padding: 7%;
}

.cartao a {
    width: 208px;
    padding: 2%;
    border-radius: 37px;
    
    color: #ffffff;
    border: transparent;

    font-family: "Outfit";
    font-size: 18px;
    text-decoration: none;

    z-index: 1;

    transition: 200ms;
}

.cartao a:hover{
    transform: scale(1.05);
    transition: 200ms
}

.cartao-yoga a{
    background-color: #c760659e;
}

.cartao-mob a{
    background-color: #2b01439e;
}

.cartao-comida a{
    background-color: #8A28749e;
}


.fundoflor{
    background-image: url(img/fundosobre.svg);
    background-color: rgb(246, 242, 252);
    background-position: 40% 20%;
}


.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
}

.about h2{
    font-family: "Melodrama";
    color: #2F0147;
    font-size: 36px;
    
}

.about p{
    font-family: "Outfit";
    font-size: 22px;
    margin: 130px;
}

.container-dados{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;

    text-align: center;

    background-color: #9583b194;
    background-size: cover;
    background-position: right center;

    width: 99vw;
    position: absolute;
    left: 0;
    height: 200px;
    padding: 100px;
}

.container-dados h3{
    font-family: "Melodrama";
    font-size: 36px;
}

.container-dados p{
    font-family: "Outfit";
    font-size: 26px;
}

.mercado:hover{
    transform: scale(1.05);
    transition: 200ms
}

.plus:hover {
    transform: scale(1.05);
    transition: 200ms
}

.profs:hover {
    transform: scale(1.05);
    transition: 200ms
}


footer {
    position: relative;
    width: 100%;
}

.texto {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

footer img {
    width: 100%;
    margin-top: 210px;
    height: auto;
    display: block;
}

.texto h4 {
    font-family: "Outfit";
    text-align: center;
    margin: 0;
}

.texto p {
    font-family: "Outfit";
    text-align: center;
    margin: 0;
}

.texto:hover {
    color: var(--rosaclaro);
}